<!--&lt;!&ndash;<p>insert-work-order works!</p>&ndash;&gt;-->

<!--<div class="mb-3">-->
<!--  <label class="form-label" for="exampleInputEmail1">Name of the contractor</label>-->
<!--  <input [(ngModel)]="contractor_name" aria-describedby="emailHelp" class="form-control" id="exampleInputEmail1"-->
<!--         type="text">-->
<!--</div>-->
<!--<div class="mb-3">-->
<!--  <label class="form-label" for="exampleInputPassword1">Work Order Number</label>-->
<!--  <input [(ngModel)]="workOrder_number" class="form-control" id="exampleInputPassword1" type="number">-->
<!--</div>-->
<!--<div class="mb-3">-->
<!--  <label class="form-label" for="exampleInputDate">Work Order Date</label>-->
<!--  <input [(ngModel)]="workOrder_date" class="form-control" id="exampleInputDate" type="date">-->
<!--</div>-->
<!--<div class="mb-3">-->
<!--  <label class="form-label" for="exampleInputDate">Work Order Description</label>-->
<!--  <input [(ngModel)]="workOrder_description" class="form-control" id="exampleInputText" type="text">-->
<!--</div>-->

<!--&lt;!&ndash;    <div class="mb-3 form-check">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="checkbox" class="form-check-input" id="exampleCheck1">&ndash;&gt;-->
<!--&lt;!&ndash;        <label class="form-check-label" for="exampleCheck1">Check me out</label>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--<button (click)="submit()" class="btn btn-primary" type="submit">Submit</button>-->

<!--<p>the stringify result is {{strigifying}}</p>-->

<!--&lt;!&ndash;<input type="text" class="form-control"  [(ngModel)]="contractor_name" >&ndash;&gt;-->

<div fxLayoutAlign="center none">
    <form (ngSubmit)="onSubmit()" [formGroup]="submitForm">
        <div fxFlex="100" fxLayout="column">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Favorite food</mat-label>
                <input formControlName="foodName" matInput placeholder="Ex. Pizza">
            </mat-form-field>

            <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea formControlName="foodDescription" matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <div fxLayoutAlign="center">
                <button color="primary" mat-raised-button type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>


